






/* General code*/


/* Nav Bar */
.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--clr-primary-background);
  z-index: 1000;
}

/* Hide menu on mobile devices */
.navbar__menu {
  display: none;
}

/* Logo */
.navbar__logo {
  font-weight: bold;
  color: var(--clr-primary);
}

/* Toggle icon Mobile */
.navbar__mobile-toggle:before {
  content: "☰";
  cursor: pointer;
}

/*Toggle icon close */
.navbar__mobile-toggle.open:before {
  content: "X";
}

/* Top Navbar items */
.navbar__menu__items {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: var(--clr-primary-text);
}

/* Menu links */
.navbar__menu__items li .navbar__link {
  text-decoration: none;
  color: var(--clr-primary-text);
}

.navbar__menu__items li .menu__link--active {
  text-decoration: none;
  color: var(--clr-link--active);
}


/* Menu links Hover*/
.navbar__menu__items li .navbar__link:hover {
  color: var(--clr-text-accent);
}

/* Active state menu link */
/*.navbar__menu__items li .navbar__link--active {
  border-bottom: 2px solid var(--clr-primary);
}*/

/* Hide navbar__side on mobile menu */
.navbar__side {
  display: none;
}

.navbar__side--open {
  display: block;
}

/* Mobile menu toggle button */
.navbar__mobile-toggle {
  display: block;
}

/* Side Navbar top items */
.top__items {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Menu links and states */
.menu__link {
  text-decoration: none;
  color: var(--clr-primary-text);
}

.menu__link:hover {
  color: var(--clr-text-accent);
}

.menu__link--active {
  color: var(--clr-link--active);
}

/*  Menu side */

.menu__heading {
  margin-top: 10px;
  margin-bottom: 10px;
}


/*About me*/

.aboutme {
  width: 80%;
  
  margin: 0px auto;
  padding: 20px;
  background-color: var(--clr-black-20);
}






  /* Response Styles for Small Screens */
      @media (min-width: 768px) {
        .mobile{
          display: none;
        }
        .desktop{
          background-color: lightpink;
          height: 100dvh;
          display: grid;
          place-items: center;
        }


        .containers-cards{

          flex-direction: row;
          justify-content: space-around;
         
        }


/*grid*/

.navbar__top {
  grid-area: header;
}

.navbar__side {
  grid-area: sidebar;
}

.main {
  grid-area: main;

}

.l-grid-container{
display: grid;
align-items: start;
/*gap: 10px;*/

/*grid-template-columns: 200px auto;
grid-template-rows: 60px auto;
grid-template-areas: 
"header  header" 
"sidebar main";*/

grid-template: 
"header  header" 60px
"sidebar main"   auto/ 
200px auto;

}

/*Typography grid*/

.l-main-typography-1 {
  grid-area: typography-1;
  padding: 0px 20px;
}

.l-main-typography-2{
  grid-area: typography-2;
  padding: 0px 20px;
}

.l-main-typography{
  display: grid;
  align-items: start;
  gap: 10px;
  
  /*grid-template-columns: 200px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: 
  "header  header" 
  "sidebar main";*/
  
  grid-template: 
  "typography-1  typography-2" auto/50% 50%;
  }

/*Color grid*/

.l-colour-swatches-grid-1 {
  grid-area: color-1;
  padding: 0px 20px;
}

.l-colour-swatches-grid-2{
  grid-area: color-2;
  padding: 0px 20px;
}

.l-main-color{
  display: grid;
  align-items: start;
  gap: 10px;
  
  grid-template: 
  "color-1  color-2" auto/50% 50%;
  }







      /* Tablets and above */
      .navbar__mobile-toggle {
        display: none;
      }
    
      .navbar__side {
        display: block;
        /*position: static;*/
        height: 100dvh;
        position: sticky;
        top: 60px;
        width: auto;
        z-index: 100;
        border-right: 5px solid #000;;
      }
    
      /* Top navbar visibility*/
      .navbar__top {
        display: flex;
      }
    
      /* Hide side navbar for desktop */
      .navbar__side {
        display: block;
      }
    }
    
    /* Larger desktop screens */
    @media (min-width: 1024px) {
      .desktop{
        display: none;

      }

      .full{
        background-color: lightskyblue;
        height: 100dvh;
        display: grid;
        place-items: center;
      }


      .top__items {
        display: none;
      }
      .navbar__menu {
        display: flex;
      }
      .navbar__side {
        display: block;
      }
    }