/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&amp;family=Roboto:wght@300;400;500&amp;display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap;");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  
  /* Color Variables globals  */
  --clr-primary: #000000; /* black */
  --clr-secondary: #333333; /* dark grey #404040 */
  --clr-accent: #e1e1e1; /* dark grey */
  --clr-light: #f5f5f5; /* very light grey */
  --clr-white: #ffffff; /* white */
  --clr-link--active: #0000ff; /* link blue */
  --clr-blue-highlight: #1f104f; /* dark blue */

  /* Site color Variables  */
  /* Text color Variables  */
  --clr-primary-text: #170b2a;
  --clr-secondary-text: #F6F6F6;
  --clr-text-light: #f4f4f4;
  --clr-text-gray: #808080;
  --clr-text-accent: #1414b8;
  --clr-text-white: #ffffff;

/* Background color Variables  */
  --clr-primary-background: #4CAF55;
  --clr-secondary-background: #9E9E9E;
  --clr-accent-background: #FF4081;

  /* Tonal color Variables  */
  --clr-gray-light: #d0d0d0;
  --clr-smerald-light: #009975;
  --clr-orange-medium: #ffa420;
  --clr-gray-medium: #909090;
  --clr-purple-medium: #7d2181;
  --clr-blue-light: #5564eb;
  --clr-blue-pink: #FFD9E8;

  /* List gray tones*/
  --clr-black-100: #000000; /* Black */
  --clr-black-80: #454c53; 
  --clr-black-60: #838385; 
  --clr-black-40: #a1a1a1; 
  --clr-black-20: #d2d2d2; 

  /* Font-family variables */
  /*--font-family-main: "Roboto";
  --font-family-secondary: "Arial";
  --font-text-main: "Times New Roman";*/

 --font-family-main: 'Nunito';
  --font-family-secondary: "Open Sans";
 
  /* Font-size variables */

  --font-size-s: 0.8rem; 
  --font-size-m: 1rem; 
  --font-size-l: 1.2rem; 
  --font-size-head-m: 1.4rem; 
  --font-size-head-l: 1.6rem; 
  --font-size-xl: 1.8rem; 
  --font-size-xxl:  2rem; 


  /* Font-weight variables */

  --font-weight-s: 300;
  --font-weight-m: 500;
  --font-weight-l: 700;
  --font-weight-xl: 900;

  /* Letter-spacing variables */

  --font-letter-spacing-s: 1px;
  --font-letter-spacing-m: 3px;
  --font-letter-spacing-l: 5px;
  --font-letter-spacing-xl: 7px;

}


/* Box sizing and CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  line-height: 1.5rem;
  min-height: 100%;

}

body, h1, h2, h3, h4, h5, h6, p, figure, picture, img {
  margin: 0;
  padding: 0;
}

p{
  font-size: 1rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* Spacing classes  */
  
  /* General Margin (4 sides) */
  
  .l-m-1 {
    margin: 1rem; /* 16px */
  }
  
  .l-m-1_25 {
    margin: 1.25rem; 
  }
  
  .l-m-1_5 {
    margin: 1.5rem; 
  }
  
  .l-m-1_75 {
    margin: 1.75rem; 
  }
  
  .l-m-2 {
    margin: 2rem; 
  }
  
  /* horizontal margin */
  
  .l-mx-1 {
    margin-left: 1rem; /* 16px */
    margin-right: 1rem; /* 16px */
  }
  
  .l-mx-1_25 {
    margin-left: 1.25rem; 
    margin-right: 1.25rem; 
  }
  
  .l-mx-1_5 {
    margin-left: 1.5rem; 
    margin-right: 1.5rem; 
  }
  
  .l-mx-1_75 {
    margin-left: 1.75rem; 
    margin-right: 1.75rem; 
  }
  
  .l-mx-2 {
    margin-left: 2rem; 
    margin-right: 2rem; 
  }
  
  /* Vertical margin */
  
  .l-my-1 {
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
  }
  
  .l-my-1_25 {
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem; 
  }
  
  .l-my-1_5 {
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem; 
  }
  
  .l-my-1_75 {
    margin-top: 1.75rem; 
    margin-bottom: 1.75rem; 
  }
  
  .l-my-2 {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
  }

  
  /* Margin top */
  
  .l-mt-1 {
    margin-top: 1rem; /* 16px */
  }
  
  .l-mt-1_25 {
    margin-top: 1.25rem; 
  }
  
  .l-mt-1_5 {
    margin-top: 1.5rem; 
  }
  
  .l-mt-1_75 {
    margin-top: 1.75rem; 
  }
  
  .l-mt-2 {
    margin-top: 2rem; 
  }
  
  /** margin bottom */
  
  .l-mb-1 {
    margin-bottom: 1rem; /* 16px */
  }
  
  .l-mb-1_25 {
    margin-bottom: 1.25rem; 
  }
  
  .l-mb-1_5 {
    margin-bottom: 1.5rem; 
  }
  
  .l-mb-1_75 {
    margin-bottom: 1.75rem; 
  }
  
  .l-mb-2 {
    margin-bottom: 2rem; 
  }
  
  /***** margin left ******/
  
  .l-ml-1 {
    margin-left: 1rem; /* 16px */
  }
  
  .l-ml-1_25 {
    margin-left: 1.25rem; 
  }
  
  .l-ml-1_5 {
    margin-left: 1.5rem; 
  }
  
  .l-ml-1_75 {
    margin-left: 1.75rem; 
  }
  
  .l-ml-2 {
    margin-left: 2rem; 
  }
  
  
  /* Margin right */
   
  .l-mr-1 {
    margin-right: 1rem; /* 16px */
  }
  
  .l-mr-1_25 {
    margin-right: 1.25rem; 
  }
  
  .l-mr-1_5 {
    margin-right: 1.5rem; 
  }
  
  .l-mr-1_75 {
    margin-right: 1.75rem; 
  }
  
  .l-mr-2 {
    margin-right: 2rem; 
  }
  

  /* Padding classes (4 sides)*/  
  .l-p-1 {
    padding: 1rem; /* 16px */
  }
  
  .l-p-1_25 {
    padding: 1.25rem; 
  }
  
  .l-p-1_5 {
    padding: 1.5rem; 
  }
  
  .l-p-1_75 {
    padding: 1.75rem; 
  }
  
  .l-p-2 {
    padding: 2rem; 
  }

  /* Horizontal padding */
  
  .l-px-1 {
    padding-left: 1rem; 
    padding-right: 1rem; 
  }
  
  .l-px-1_25 {
    padding-left: 1.25rem; 
    padding-right: 1.25rem; 
  }
  
  .l-px-1_5 {
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
  }
  
  .l-px-1_75 {
    padding-left: 1.75rem; 
    padding-right: 1.75rem; 
  }
  
  .l-px-2 {
    padding-left: 2rem; 
    padding-right: 2rem; 
  }
  
  /* Vertical padding */
  
  .l-py-1 {
    padding-top: 1rem; 
    padding-bottom: 1rem; 
  }
  
  .l-py-1_25 {
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem; 
  }
  
  .l-py-1_5 {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
  }
  
  .l-py-1_75 {
    padding-top: 1.75rem; 
    padding-bottom: 1.75rem; 
  }
  
  .l-py-2 {
    padding-top: 2rem; 
    padding-bottom: 2rem; 
  }

  /* padding left */
  
  .l-pl-1 {
    padding-left: 1rem; /* 16px */
  }
  
  .l-pl-1_25 {
    padding-left: 1.25rem; 
  }
  
  .l-pl-1_5 {
    padding-left: 1.5rem; 
  }
  
  .l-pl-1_75 {
    padding-left: 1.75rem; 
  }
  
  .l-pl-2 {
    padding-left: 2rem; 
  }
  
  
  /* padding right*/
   
  .l-pr-1 {
    padding-right: 1rem; /* 16px */
  }
  
  .l-pr-1_25 {
    padding-right: 1.25rem; 
  }
  
  .l-pr-1_5 {
    padding-right: 1.5rem; 
  }
  
  .l-pr-1_75 {
    padding-right: 1.75rem; 
  }
  
  .l-pr-2 {
    padding-right: 2rem; 
  }
  
    
  /* padding top */
  
  .l-pt-1 {
    padding-top: 1rem; /* 16px */
  }
  
  .l-pt-1_25 {
    padding-top: 1.25rem; 
  }
  
  .l-pt-1_5 {
    padding-top: 1.5rem; 
  }
  
  .l-pt-1_75 {
    padding-top: 1.75rem; 
  }
  
  .l-pt-2 {
    padding-top: 2rem; 
  }
  
  
  /* padding bottom */
  
  .l-pb-1 {
    padding-bottom: 1rem; /* 16px */
  }
  
  .l-pb-1_25 {
    padding-bottom: 1.25rem; 
  }
  
  .l-pb-1_5 {
    padding-bottom: 1.5rem; 
  }
  
  .l-pb-1_75 {
    padding-bottom: 1.75rem; 
  }
  
  .l-pb-2 {
    padding-bottom: 2rem; 
  }
  
  
  /* Flex Container */
  .l-flex {
    display: flex; 
  }
  
  .u-row {
    flex-direction: row; 
  }
  
  .u-col {
    flex-direction: column; 
  }
  

  
  /* Justify Content */
  .u-justify-start {
    justify-content: flex-start; 
  }
  
  .u-justify-end {
    justify-content: flex-end; 
  }
  
  .u-justify-center {
    justify-content: center; 
  }
  
  .u-justify-between {
    justify-content: space-between; 
  }
  
  .u-justify-around {
    justify-content: space-around; 
  }
  
  /* Align Items */
  .u-align-start {
    align-items: flex-start; 
  }
  
  .u-align-end {
    align-items: flex-end; 
  }
  
  .u-align-center {
    align-items: center; 
  }
  
  .u-align-baseline {
    align-items: baseline; 
  }
  
  .u-align-stretch {
    align-items: stretch; 
  }
  

  /* Grid Container */
  .l-grid {
    display: grid; 
  }
  
  /* Grid Columns */
  .u-cols-auto {
    grid-template-columns: auto; 
  }

  /* Grid Rows */
  .u-rows-auto {
    grid-template-rows: auto; 
  }
  
  
  /* Grid Gap */
  .u-gap-0 {
    gap: 0; /* No gap between grid */
  }
  
  .u-gap-0_25 {
    gap: 0.25rem; 
  }
  
  .u-gap-0_5 {
    gap: 0.5rem; 
  }
  
  .u-gap-0_75 {
    gap: 0.75rem; 
  }
  
  
  /* Grid Gap X */
  .u-gap-x-0 {
    column-gap: 0; 
  }
  
  .u-gap-x-0_25 {
    column-gap: 0.25rem; 
  }
  
  .u-gap-x-0_5 {
    column-gap: 0.5rem; 
  }
  
  .u-gap-x-0_75 {
    column-gap: 0.75rem; 
  }
  

  /* Grid Gap Y */
  .u-gap-y-0 {
    row-gap: 0; 
  }
  
  .u-gap-y-0_25 {
    row-gap: 0.25rem; 
  }
  
  .u-gap-y-0_5 {
    row-gap: 0.5rem; 
  }
  
  .u-gap-y-0_75 {
    row-gap: 0.75rem; 
  }
  
  /* container classes */
  
  .l-container-centered {
    margin: 0 auto; /* Center the container horizontally */
  }
  
 .l-total-width {
    width: 100%;
  }
  
 .l-total-width-50 {
    width: 50%;
  }
  
  .l-total-width-75 {
    width: 75%;
  }

  /* height */
  
  .h-100 {
    height: 100px;
  }
  
  .h-150 {
    height: 150px;
  }

  /* width classes */
  .w-total {
    width: 100%;
  }
  


  /* Classes for text colors */
.text--primary { color: var(--clr-primary-text); }
.text--secondary { color: var(--clr-secondary-text); }
.text--light { color: var(--clr-text-light); }
.text--gray { color: var(--clr-text-gray); }
.text--accent { color: var(--clr-text-accent); }
.text--white { color: var(--clr-text-white); }
.text--link-active { color: var(--clr-link--active); }


/* Classes for text-background colors */
.text--primary-background { color: var(--clr-primary-background); }
.text--secondary-background { color: var(--clr-secondary-background); }


/* Classes for aditional colors text*/
.text--gray-light { color: var(--clr-gray-light); }
.text--smerald-light { color: var(--clr-smerald-light); }
.text--orange-medium { color: var(--clr-orange-medium); }
.text--gray-medium { color: var(--clr-gray-medium); } 
.text--purple-medium { color: var(--clr-purple-medium); }
.text--blue-light { color: var(--clr-blue-light); }


/* Classes for gray tones colors */
.text-black-100 { color: var(--clr-black-100); }
.text-black-80 { color: var(--clr-black-80); }
.text-black-60 { color: var(--clr-black-60); }
.text-black-40 { color: var(--clr-black-40); }
.text-black-20 { color: var(--clr-black-20); }


/* Classes for background colors */
.bg-primary { background-color: var(--clr-primary); }
.bg-secondary { background-color: var(--clr-secondary); }
.bg-accent { background-color: var(--clr-accent); }
.bg-light { background-color: var(--clr-light); }
.bg-white { background-color: var(--clr-white); }


/* Clases for others background colors */
.bg-primary-text { background-color: var(--clr-primary-text); }
.bg-secondary-text { background-color: var(--clr-secondary-text); }
.bg-text-light { background-color: var(--clr-text-light); }
.bg-text-gray { background-color: var(--clr-text-gray); }
.bg-text-accent { background-color: var(--clr-text-accent); }
.bg-text-white { background-color: var(--clr-text-white); }

.bg-primary-background { background-color: var(--clr-primary-background); }
.bg-secondary-background { background-color: var(--clr-secondary-background); }
.bg-accent-background { background-color: var(--clr-accent-background); }

.bg-brown-light { background-color: var(--clr-brown-light); }
.bg-sunset-light { background-color: var(--clr-sunset-light); }
.bg-sunset-dark { background-color: var(--clr-sunset-dark); }
.bg-gray-medium { background-color: var(--clr-gray-medium); }
.bg-blue-medium { background-color: var(--clr-blue-medium); }


/* Clases for others background gray tones colors */
.bg-black-100 { background-color: var(--clr-black-100); }
.bg-black-80 { background-color: var(--clr-black-80); }
.bg-black-60 { background-color: var(--clr-black-60); }
.bg-black-40 { background-color: var(--clr-black-40); }
.bg-black-20 { background-color: var(--clr-black-20); }


/* Classes for font-family */
.u-font-family--main {
  font-family: var(--font-family-main);
  
}
.u-font-family--secondary {
  font-family: var(--font-family-secondary);
}


/* Classes for font-size */
.font-size--s {
  font-size: var(--font-size-s); 
}
.font-size--m {
  font-size: var(--font-size-m);
}
.font-size--l {
  font-size: var(--font-size-l); 
}
.font-size--head-m {
  font-size: var(--font-size-head-m); 
}
.font-size--head-l {
  font-size: var(--font-size-head-l); 
}
.font-size--xl {
  font-size: var(--font-size-xl); 
}
.font-size--xxl {
  font-size: var(--font-size-xxl); 
}


/* Classes for font-weight */
.font-weight--s {
  font-weight: var(--font-weight-s);
}
.font-weight--m {
  font-weight: var(--font-weight-m);
}
.font-weight--l {
  font-weight: var(--font-weight-l);
}
.font-weight--xl {
  font-weight: var(--font-weight-xl);
}


/* Classes for Letter-spacing */


.u-spacing-main {
  font-family: var(--font-family-main);
  padding: 0 50px;
}

.spacing-title-paragrap-1 {
width: 30px;
height: 1rem;
background-color: #454c53;
}

.spacing-paragrap-paragrap-1 {
  width: 30px;
  height: 0.75rem;
  background-color: #454c53;
  }

  .spacing-title-paragrap-2 {
    width: 30px;
    height: 1.25rem;
    background-color: #454c53;
    }
    
.spacing-paragrap-paragrap-2 {
      width: 30px;
      height: 0.75rem;
      background-color: #454c53;
 }

.spacing-title-paragrap-3 {
            width: 30px;
            height: 1.5rem;
            background-color: #454c53;
 }
            
.spacing-paragrap-paragrap-3 {
              width: 30px;
              height: 0.75rem;
              background-color: #454c53;
 }

.spacing-title-paragrap-4 {
                width: 30px;
                height: 1.75rem;
                background-color: #454c53;
                }
                
.spacing-paragrap-paragrap-4 {
                  width: 30px;
                  height: 0.75rem;
                  background-color: #454c53;
              } 


.font-letter-spacing-s {
  letter-spacing: var(--font-letter-spacing-s);
}
.font-letter-spacing-m {
  letter-spacing: var(--font-letter-spacing-m);
}
.font-letter-spacing-l {
  letter-spacing: var(--font-letter-spacing-l);
}
.font-letter-spacing-xl {
  letter-spacing: var(--font-letter-spacing-xl);
}

/* Page colours - colors swatches section */

.colour-swatches__heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.swatch {
  margin: 2px auto;
  width: 70%;
  min-height: 100px;
}
.swatch__span {
  display: block;
  text-align: center;
}


/* Color Swatches */

.swatch__bg-primary-text {
  background-color: var(--clr-primary-background);
  color:var(--clr-primary-text);
  
}
.swatch__bg-primary-background {
  background-color: var(--clr-secondary-background);
  color:var(--clr-primary-text);
}

.swatch__bg-text-accent{
  background-color: var(--clr-accent-background);
  color:var(--clr-primary-text);
}

.swatch__bg-pink-light{
  background-color: var(--clr-blue-pink);
  color:var(--clr-primary-text);
}

.swatch__bg-smerald-light{
  background-color: var(--clr-smerald-light);
  color:var(--clr-primary-text);
}

.swatch__bg-black-20{
  background-color: var(--clr-black-20);
  color:var(--clr-primary-text);
}

/* Contaimers*/

/* .desktop{
  display: none;
}
.full{
  display: none;
}

.mobile{
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: darkcyan;
} */


.containers-hero-1 {
  background-color: var(--clr-black-80);
  color: var(--clr-white);
  text-align: center;
  padding: 50px;
  margin: 50px;
}

.containers-hero-1 h1 {
  margin-bottom: 20px;
}

.containers-hero-1 p {
  margin-bottom: 30px;
}

.containers-hero-1 button {
  background-color: var(--clr-primary-background);
  color: var(--clr-white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.containers-hero-2 {
  background-image: url('images/hero_2.jpg'); 
  background-size: cover;
  background-position: center;
  color: var(--clr-white);
  text-align: center;
  padding: 50px;
  margin: 50px;
}

.containers-hero-2 h1 {
  margin-bottom: 20px;
}

.containers-hero-1 p {
  margin-bottom: 30px;
}

.containers-hero-2 button {
  background-color: var(--clr-primary-background);
  color: var(--clr-white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}





.containers-cards{
  display: flex;
  flex-direction: column;

  align-items: center;

}

.card {
  background-color: var(--clr-black-20);
  border: 1px solid var(--clr-black-40);
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  display: inline-block;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card button {
  background-color: var(--clr-primary-background);
  color: var(--clr-white);
  padding: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}



.form {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--clr-black-20);
  border: 1px solid var(--clr-black-40);
  border-radius: 10px;
}

.form h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--clr-black-40);
  border-radius: 4px;
  
}

form button {
  background-color: var(--clr-primary-background);
  color: var(--clr-white);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--clr-smerald-light);
}