/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&amp;family=Roboto:wght@300;400;500&amp;display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap;");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  
  /* Color Variables globals  */
  --clr-primary: #000000; /* black */
  --clr-secondary: #333333; /* dark grey #404040 */
  --clr-accent: #e1e1e1; /* dark grey */
  --clr-light: #f5f5f5; /* very light grey */
  --clr-white: #ffffff; /* white */
  --clr-link--active: #0000ff; /* link blue */
  --clr-blue-highlight: #1f104f; /* dark blue */

  /* Site color Variables  */
  /* Text color Variables  */
  --clr-primary-text: #170b2a;
  --clr-secondary-text: #F6F6F6;
  --clr-text-light: #f4f4f4;
  --clr-text-gray: #808080;
  --clr-text-accent: #1414b8;
  --clr-text-white: #ffffff;

/* Background color Variables  */
  --clr-primary-background: #4CAF55;
  --clr-secondary-background: #9E9E9E;
  --clr-accent-background: #FF4081;

  /* Tonal color Variables  */
  --clr-gray-light: #d0d0d0;
  --clr-smerald-light: #009975;
  --clr-orange-medium: #ffa420;
  --clr-gray-medium: #909090;
  --clr-purple-medium: #7d2181;
  --clr-blue-light: #5564eb;
  --clr-blue-pink: #FFD9E8;

  /* List gray tones*/
  --clr-black-100: #000000; /* Black */
  --clr-black-80: #454c53; 
  --clr-black-60: #838385; 
  --clr-black-40: #a1a1a1; 
  --clr-black-20: #d2d2d2; 

  /* Font-family variables */
  /*--font-family-main: "Roboto";
  --font-family-secondary: "Arial";
  --font-text-main: "Times New Roman";*/

 --font-family-main: 'Nunito';
  --font-family-secondary: "Open Sans";
 
  /* Font-size variables */

  --font-size-s: 0.8rem; 
  --font-size-m: 1rem; 
  --font-size-l: 1.2rem; 
  --font-size-head-m: 1.4rem; 
  --font-size-head-l: 1.6rem; 
  --font-size-xl: 1.8rem; 
  --font-size-xxl:  2rem; 


  /* Font-weight variables */

  --font-weight-s: 300;
  --font-weight-m: 500;
  --font-weight-l: 700;
  --font-weight-xl: 900;

  /* Letter-spacing variables */

  --font-letter-spacing-s: 1px;
  --font-letter-spacing-m: 3px;
  --font-letter-spacing-l: 5px;
  --font-letter-spacing-xl: 7px;

}






/* Box sizing and CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  line-height: 1.5rem;
  min-height: 100%;

}

body, h1, h2, h3, h4, h5, h6, p, figure, picture, img {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
