:root {
    /*create variables with initial colors */
    --clr-primary: #001F3F;
    --clr-secundary: #2ECC71; /* dark grey color  */
    --clr-accent: #F2F2F2; /* dark grey color */
    --clr-light: #FFA500; /* light grey  */
    --clr-white: white;
  }

  /*set margin to 0 for body, h1, h2, h3, h4, h5, h6, p, figure, img */
body, h1, h2, h3, h4, h5, h6, p, figure, img {
  margin: 0;
  padding: 0; 
}

/*remove padding from lists */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Box sizing and CSS reset in all page */
*,
*::before,
*::after {
  box-sizing: border-box;
}
